/** App **/

.grid {
    overflow: hidden;
    display:block;
    margin: 40px 0 50px;
    text-align:center;
}
.grid li {
    list-style:none;
    display:inline-block;
}

.grid li img {
    height: 150px;
    width: 150px;
    margin:5px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
    .grid li img {
        height: 180px;
        width: 180px;
        margin:10px;
    }
}
/* Large and up */
@media screen and (min-width: 64em) {
    .grid li img {
        height: 210px;
        width: 210px;
        margin:10px;
    }
}

.list {
    margin:0;
    padding:0;
}
.list li {
    list-style: none;
}

.podcast-preview {
    padding: 20px 0;
}

.episode-play-button {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.unplayed-podcast-list li {
    padding: 10px 0;
}

.episode-description h4{
    text-align: center;
}

.artwork {
    text-align: center;
    margin: 10px 0;
}

.artwork img {
    max-width: 400px;
}

.currently-playing-episode {
    display:block;
    border:1px solid #eee;
    padding:10px;
}

.currently-playing-episode h3{
    font-size:14pt;
    color: #666;
    font-weight:normal;
}

.podcast-player-wrapper {
    padding: 10px;
    margin: 10px 0;
}
.podcast-player {
    width:100%;
    display:block;
}

.played-status-title {
    padding-bottom:10px;
    font-size:14pt;
    color: #666;
    font-weight:bold;
}

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}